/* icons  */
.icon-btn-arrow {
background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none"><path d="M1 11.5L11 1.5M11 1.5V11.5M11 1.5H1" stroke="white" stroke-width="1.5"/></svg>');
width: 12px;
height: 12px;
display: inline-block;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
transition: all 0.3s ease;
}
.icon-btn-arrow.black {
background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none"><path d="M0.5 14L13.5 1M13.5 1V14M13.5 1H0.5" stroke="%23100F0D"/></svg>');
width: 12px;
height: 12px;
display: inline-block;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
transition: all 0.3s ease;
}
.icon-btn-arrow.blue {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none"><path d="M0.5 14L13.5 1M13.5 1V14M13.5 1H0.5" stroke-width="2" stroke="%23709ED4"/></svg>');
    width: 10px;
    height: 10px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.3s ease;
}

/* heading tags  */
h1 {
font-weight: 300;
font-size: 24px;
line-height: 118%;
text-transform: uppercase;
color: var(--black);
margin-bottom: 20px;
}
@media (min-width: 376px) {
h1 {
font-size: 32px;
line-height: 113%;
}
}
@media (min-width: 576px) {
h1 {
font-size: 48px;
line-height: 113%;
}
}
@media (min-width: 1200px) {
h1 {
margin-bottom: 28px;
}
}

h2{
    font-weight: 300;
    font-size: 32px;
    line-height: 113%;
    margin-bottom: 24px;
    text-transform: uppercase;
    color: var(--black);
}

h3{
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 16px;
}

/* btns  */
.primary-btn {
display: inline-block;
text-align: center;
border: none;
background-color: var(--blue);
border-radius: 4px;
user-select: none;
padding: 15.3px 34px 15.3px 34px;
color: #fff;
cursor: pointer;
font-size: 16px;
font-family: 'Jost';
}
.primary-btn .icon {
margin-left: 12px;
}
.primary-btn:hover .icon {
transform: rotate(45deg);
}

.secondary-btn {
   border: none;
    display: inline-block;
    user-select: none;
    color: var(--blue);
    font-weight: 400;
}
.secondary-btn .icon {
    margin-left: 12px;
}
.secondary-btn:hover .icon {
    transform: rotate(45deg);
}

/* contacts  */
.contact__item-comp {
font-weight: 400;
font-size: 18px;
max-width: 185px;
width: 100%;
}
.contact__item-comp .contact__list {
padding-left: 0;
list-style: none;
margin-bottom: 0;
}
.contact__item-comp .contact__list-item {
width: 100%;
transition: 0.3s ease;
position: relative;
margin-bottom: 12px;
}
.contact__item-comp .contact__list-item.hover-arrow {
border-bottom: solid 1px transparent;
padding-right: 20px;
padding-bottom: 12px;
margin-bottom: 0;
}
.contact__item-comp .contact__list-item.hover-arrow:hover {
border-color: var(--black);
}
.contact__item-comp .contact__list-item.hover-arrow:hover .icon {
opacity: 1;
}
.contact__item-comp .contact__list-item a {
padding-top: 12px;
width: 100%;
display: inline-block;
}
.contact__item-comp .contact__list-item:last-of-type{
  margin-bottom: 0;
}
.contact__item-comp .contact__list-item a:hover {
color: var(--black);
}
.contact__item-comp .contact__list-item .icon {
margin-left: auto;
opacity: 0;
position: absolute;
bottom: 12px;
right: 0;
transition: 0.3s ease;
}
@media (max-width: 376px) {
    .contact__item-comp {
        font-size: 16px;
        max-width: 100%;
    }
}

/* custom__info-wrap  */
.custom__info-wrap{
    display: inline-block;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: solid 1px rgb(228, 229, 229);

}
.custom__info-wrap h3{
margin-bottom: 10px;
}
.custom__info-wrap p {
    margin-bottom: 16px;
}
.custom__info-wrap .custom__info{
    width: 100%;
}
@media (max-width: 992px) {
    .custom__info-wrap h3{
        font-weight: 300;
    }
}

/* form groups */
.form-group {
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 17px;
  color: var(--black);
  font-weight: 400;
  display: inline-block;
  width: 100%;
}
.form-group input, .form-group textarea {
  font-family: "Jost";
}
.form-group .form-group-label {
  font-weight: 400;
  margin-bottom: 8px;
}
.form-field input {
  width: 100%;
  outline: none;
  height: 45px;
  font-size: 14px;
  background-color: #F2F3F3;
  border: solid 1px #cbcaca;
  border-radius: 3px;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
}
.form-field input::placeholder {
  color: rgba(16, 15, 13, 0.2);
}
.form-field textarea {
  padding: 14px 16px;
  height: 141px;
  resize: none;
  width: 100%;
  background-color: #F2F3F3;
  border: solid 1px #cbcaca;
  border-radius: 3px;
  outline: none;
}
.form-field textarea::placeholder {
  color: rgba(16, 15, 13, 0.2);
}
.form-group-radio-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 45px;
  background-color: #fff;
  border: solid 1px #cbcaca;
  border-radius: 3px;
  padding: 5px 5px;
}
.form-group-radio-btns .input-label {
  position: relative;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.form-group-radio-btns .input-label input[type=radio], .form-group-radio-btns .input-label input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.form-group-radio-btns .input-label input:checked + span {
  background-color: var(--black);
  color: #fff;
}
.form-group-radio-btns .input-label span {
  display: inline-block;
  width: 100%;
  border-radius: 2px;
  padding: 8px 24px;
  transition: 0.3s;
}
.form-group-qnt-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  background-color: #fff;
  border: solid 1px #cbcaca;
  border-radius: 3px;
  padding: 5px 5px;
}
.form-group-qnt-btns .qnt-btn {
  width: 48px;
  height: 100%;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  background-color: #eaebeb;
  transition: 0.3s;
}
.form-group-qnt-btns .qnt-btn:hover {
  background-color: var(--black);
  color: #fff;
}
.form-group-qnt-btns .count {
  width: 109px;
  border: none;
  background-color: transparent;
  text-align: center;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 1200px) {
  .form-group{
    margin-bottom: 20px;
  }
  .form-group-radio-btns .input-label span{
    padding: 8px 20px;
  }
}
@media (max-width: 767px) {
  .form-field textarea{
    height: 135px;
  }
}
/* _form  */
._form .req_error .form__input::placeholder,
._form .error_error .form__input::placeholder,
._form .req_error .form__textarea::placeholder,
._form .error_error .form__textarea::placeholder {
  color: #B00020;
}
._form .req_error .req__text, ._form .legal__form .req_error .req__text {
  display: block;
}
._form .error_error .error__text {
  display: block;
}
._form .req__text, ._form .error__text {
  font-size: 12px;
  color: #B00020;
  margin-top: 5px;
  display: none;
}

/* слайди радио кнопок */
.particle-network-animation {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
    opacity: 0.3;
    overflow: hidden;
    pointer-events: none;
}
@media (min-width: 576px) {
  .particle-network-animation{
    width: calc(100% + 24px);
    left: -12px;
  }
}
.glow {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.025), transparent);
}
.glow-1 {
  width: 150vw;
  height: 150vh;
  margin-top: -75vh;
  margin-left: -75vw;
  animation: glow-1-move 25s linear infinite both;
}
@keyframes glow-1-move {
  from {
    transform: translate(-100%, 100%);
  }
  to {
    transform: translate(100%, -100%);
  }
}
.glow-2 {
  width: 100vw;
  height: 100vh;
  margin-top: -50vh;
  margin-left: -50vw;
  animation: glow-2-move 25s linear calc(25 / 3) infinite both;
}
@keyframes glow-2-move {
  from {
    transform: translate(-100%, 0%);
  }
  to {
    transform: translate(100%, 100%);
  }
}
.glow-3 {
  width: 120vw;
  height: 120vh;
  margin-top: -60vh;
  margin-left: -60vw;
  animation: glow-3-move 25s linear calc(25 / 3) * 2 infinite both;
}
@keyframes glow-3-move {
  from {
    transform: translate(100%, 100%);
  }
  to {
    transform: translate(0%, -100%);
  }
}