/* Jost-Regular */
@font-face {
  font-family: "Jost";
  src: url("../font/Jost-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Jost-Regular */
@font-face {
  font-family: "Jost";
  src: url("../font/Jost-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
:root {
  --bg-color: #F9FAFA;
  --black_light: rgba(16, 15, 13, 0.7);
  --black: #100F0D;
  --blue: #709ED4;
  --red: #EE4F4F;
}

html {
  font-family: "Jost", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-weight: 300;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-size: 16px;
  color: var(--black_light);
}

#wrapper {
  position: relative;
  padding-top: 80px;
}

@media (min-width: 576px) {
  #wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 376px) {
  #wrapper {
    padding-top: 55px;
  }
}
a {
  text-decoration: none;
  color: var(--black_light);
  transition: all 0.3s ease;
}

.frame {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 80px);
}

@media (max-width: 376px) {
  .frame-bg {
    display: none;
  }
}
.header {
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s ease;
}
.header.scrolling {
  background: var(--bg-color);
}
.header .logo {
  max-width: 120px;
  margin-left: -11px;
  position: relative;
  z-index: 10;
}
.header .logo img {
  max-width: 100%;
}
.header .header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}
.header .nav__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.header .nav__list li {
  transition: all 0.3s ease;
}
.header .nav__list a {
  padding: 16.5px 16.5px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header .nav__item.active {
  pointer-events: none;
  font-weight: 400;
}
.header .nav__item.active a {
  color: var(--black);
}
.header .burger {
  width: 48px;
  height: 48px;
  background: #F1F2F2;
  border: 1px solid #DDDEDD;
  border-radius: 2px;
  z-index: 10;
  position: relative;
}
.header .burger > * {
  pointer-events: none;
}
.header .burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 1px;
  right: 0;
  margin: auto;
}
.header .burger span::before, .header .burger span::after {
  display: block;
  width: 16px;
  height: 1px;
  border-radius: 5px;
  background-color: var(--black);
  outline: 1px solid transparent;
  transition-property: background-color, transform;
  transition-duration: 0.3s;
}
.header .burger span::before, .header .burger span::after {
  position: absolute;
  content: "";
}
.header .burger span::before {
  top: -3px;
}
.header .burger span::after {
  top: 3px;
}
.header .burger.clicked span {
  background-color: transparent;
}
.header .burger.clicked span::before {
  transform: translateY(3px) rotate(45deg);
}
.header .burger.clicked span::after {
  transform: translateY(-3px) rotate(-45deg);
}
.header .burger:hover {
  cursor: pointer;
}

@media (min-width: 576px) {
  .header {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1200px) {
  .header__wrap {
    border-bottom: solid 1px rgb(228, 229, 229);
  }
  .nav {
    height: 100%;
  }
  .nav__list {
    margin-left: auto;
    display: flex;
    height: 100%;
  }
  .nav__list li {
    margin-left: 16.5px;
  }
  .nav__list li:hover {
    background-color: #FFFFFF;
  }
  .nav__item.active {
    background-color: #FFFFFF;
  }
}
@media (max-width: 1199px) {
  .header .nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.555);
    opacity: 0;
    visibility: hidden;
  }
  .header .nav__list {
    max-width: 956px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 23px;
    padding-right: 23px;
    font-size: 20px;
    line-height: 29px;
  }
  .header .nav__list a {
    border-bottom: solid 1px rgb(233, 233, 233);
    padding: 19.5px 0;
  }
  .header .nav__list a:hover {
    border-color: var(--black);
    color: var(--black);
  }
  .header .nav__item.active a {
    border-color: var(--black);
  }
  .header .nav {
    background-color: var(--bg-color);
    background-image: url(../img/mobile-nav-nets.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 133px 0px 60px 0px;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .header .nav.show {
    transform: translateX(0px);
  }
}
@media (max-width: 376px) {
  .header .header__wrap {
    height: 55px;
  }
  .header .logo {
    max-width: 105px;
    margin-left: -10px;
  }
  .header .burger {
    width: 32px;
    height: 32px;
  }
  .header .burger span, .header .burger span:before, .header .burger span::after {
    width: 12px;
  }
  .header .nav {
    padding: 100px 0px 45px 0px;
  }
  .header .nav__list {
    font-size: 16px;
  }
  .header .nav__list a {
    padding: 13.5px 0;
  }
}
.frame-1-bg {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1199px) {
  .frame-1-bg {
    top: -81px;
  }
}
@media (max-width: 768px) {
  .frame-1-bg {
    background-size: 161%;
  }
}
@media (max-width: 576px) {
  .frame-1-bg {
    background-size: cover;
    background-position: 60% 50%;
  }
}
@media (max-width: 376px) {
  .frame-1-bg {
    top: -55px;
  }
}
.sc-main-top {
  padding-top: 57px;
  align-self: flex-start;
}
.sc-main-top .main__info {
  max-width: 654px;
}
.sc-main-top .main__info .primary-btn {
  margin-top: 12px;
}

@media (max-width: 1199px) {
  .sc-main-top {
    padding-top: 48px;
  }
  .sc-main-top .main__info p {
    max-width: 290px;
  }
  .sc-main-top .main__info .primary-btn {
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .sc-main-top {
    padding-top: 32px;
  }
  .sc-main-top .main__info {
    min-height: 303px;
  }
}
@media (max-width: 376px) {
  .sc-main-top {
    padding-top: 20px;
  }
  .sc-main-top .main__info {
    min-height: auto;
  }
}
.sc-main-bottom {
  width: 100%;
  align-self: flex-end;
  padding-top: 60px;
  padding-bottom: 60px;
}
.sc-main-bottom .swiper__item {
  padding-top: 33px;
}
.sc-main-bottom .swiperServices {
  width: 100%;
  max-width: 942px;
  margin-left: 0;
  cursor: grab;
}
.sc-main-bottom .swiperServices .swiper-pagination {
  position: relative;
  height: 2px;
  text-align: left;
  display: flex;
  top: 0;
  bottom: 0;
  margin-bottom: 24px;
  background-color: rgb(228, 229, 229);
}
.sc-main-bottom .swiperServices .swiper-pagination.swiper-pagination-lock {
  display: none;
}
.sc-main-bottom .swiperServices .swiper-pagination-bullet {
  height: 2px;
  border-radius: 0px;
  background: none;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  transition: 0.3s ease;
}
.sc-main-bottom .swiperServices .swiper-pagination-bullet-active {
  background-color: var(--black);
}
.sc-main-bottom .service__info-item {
  max-width: 314px;
  padding-right: 24px;
  display: inline-block;
  width: 100%;
}
.sc-main-bottom .service__info-item h4 {
  margin-bottom: 8px;
  font-size: 18px;
  color: var(--black);
}
.sc-main-bottom .service__info-item p {
  margin-bottom: 0;
}
.sc-main-bottom .contact__item-comp {
  margin-left: auto;
}

@media (max-width: 1199px) {
  .sc-main-bottom {
    padding-bottom: 12px;
  }
  .sc-main-bottom .contact__item-comp {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .sc-main-bottom .swiperServices {
    width: calc(100% + 64px);
    margin-left: -32px;
    padding-left: 32px;
  }
  .sc-main-bottom .swiperServices .swiper-pagination {
    width: calc(100% - 32px);
  }
  .sc-main-bottom .swiperServices .swiper-slide {
    max-width: 327px;
  }
  .sc-main-bottom .swiperServices .swiper-slide:last-of-type {
    max-width: 100%;
  }
  .sc-main-bottom .service__info-item {
    max-width: 327px;
  }
}
@media (max-width: 576px) {
  .sc-main-bottom .swiperServices {
    width: calc(100% + 40px);
    margin-left: -20px;
    padding-left: 20px;
  }
  .sc-main-bottom .swiperServices .swiper-pagination {
    width: calc(100% - 20px);
  }
  .sc-main-bottom .swiperServices .swiper-slide {
    max-width: 327px;
  }
  .sc-main-bottom .service__info-item {
    max-width: 327px;
  }
}
.frame-2 {
  border-top: solid 3px red;
}/*# sourceMappingURL=main.css.map */