/* Jost-Regular */
@font-face {
  font-family: "Jost";
  src: url("../font/Jost-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Jost-Regular */
@font-face {
  font-family: "Jost";
  src: url("../font/Jost-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
:root {
  --bg-color: #F9FAFA;
  --black_light: rgba(16, 15, 13, 0.7);
  --black: #100F0D;
  --blue: #709ED4;
  --red: #EE4F4F;
}

html {
  font-family: "Jost", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-weight: 300;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-size: 16px;
  color: var(--black_light);
}

#wrapper {
  position: relative;
  padding-top: 80px;
}

@media (min-width: 576px) {
  #wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 376px) {
  #wrapper {
    padding-top: 55px;
  }
}
a {
  text-decoration: none;
  color: var(--black_light);
  transition: all 0.3s ease;
}

.frame {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .frame {
    min-height: calc(100vh - 80px);
  }
}
.frame-bg {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 376px) {
  .frame-bg {
    display: none;
  }
}
.header {
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s ease;
}
.header.scrolling {
  background: var(--bg-color);
}
.header .logo {
  max-width: 120px;
  margin-left: -11px;
  position: relative;
  flex-shrink: 0;
  z-index: 10;
}
.header .logo img {
  max-width: 100%;
}
.header .header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}
.header .nav__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.header .nav__list li {
  transition: all 0.3s ease;
}
.header .nav__list a {
  padding: 16.5px 16.5px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header .nav__item a {
  color: var(--black);
}
.header .nav__item a.active {
  pointer-events: none;
  font-weight: 400;
}
.header .burger {
  width: 48px;
  height: 48px;
  background: #F1F2F2;
  border: 1px solid #DDDEDD;
  border-radius: 2px;
  z-index: 10;
  position: relative;
}
.header .burger > * {
  pointer-events: none;
}
.header .burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 1px;
  right: 0;
  margin: auto;
}
.header .burger span::before, .header .burger span::after {
  display: block;
  width: 16px;
  height: 1px;
  border-radius: 5px;
  background-color: var(--black);
  outline: 1px solid transparent;
  transition-property: background-color, transform;
  transition-duration: 0.3s;
}
.header .burger span::before, .header .burger span::after {
  position: absolute;
  content: "";
}
.header .burger span::before {
  top: -3px;
}
.header .burger span::after {
  top: 3px;
}
.header .burger.clicked span {
  background-color: transparent;
}
.header .burger.clicked span::before {
  transform: translateY(3px) rotate(45deg);
}
.header .burger.clicked span::after {
  transform: translateY(-3px) rotate(-45deg);
}
.header .burger:hover {
  cursor: pointer;
}

@media (min-width: 576px) {
  .header {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 768px) {
  .header .nav {
    height: 100%;
  }
  .header .nav__list {
    margin-left: auto;
    display: flex;
    height: 100%;
  }
  .header .nav__list li {
    margin-left: 5px;
  }
  .header .nav__list li:hover {
    background-color: #FFFFFF;
  }
}
@media (min-width: 1200px) {
  .header .header__wrap {
    border-bottom: solid 1px rgb(228, 229, 229);
  }
  .header .nav__list li {
    margin-left: 16.5px;
  }
  .header .nav__item a.active {
    background-color: #FFFFFF;
  }
}
@media (max-width: 992px) {
  .header .nav__list a {
    padding: 16px 8px;
  }
}
@media (max-width: 767px) {
  .header .nav__list {
    max-width: 956px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 23px;
    padding-right: 23px;
    font-size: 20px;
    line-height: 29px;
  }
  .header .nav__list a {
    border-bottom: solid 1px rgb(233, 233, 233);
    padding: 19.5px 0;
  }
  .header .nav__list a:hover {
    border-color: var(--black);
    color: var(--black);
  }
  .header .nav__item a.active {
    border-color: var(--black);
  }
  .header .nav {
    background-color: var(--bg-color);
    background-image: url(../img/mobile-nav-nets.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 133px 0px 60px 0px;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .header .nav.show {
    transform: translateX(0px);
  }
}
@media (max-width: 376px) {
  .header .header__wrap {
    height: 55px;
  }
  .header .logo {
    max-width: 105px;
    margin-left: -10px;
  }
  .header .burger {
    width: 32px;
    height: 32px;
  }
  .header .burger span, .header .burger span:before, .header .burger span::after {
    width: 12px;
  }
  .header .nav {
    padding: 100px 0px 45px 0px;
  }
  .header .nav__list {
    font-size: 16px;
  }
  .header .nav__list a {
    padding: 13.5px 0;
  }
}
.frame-1-bg {
  top: -60px;
}

@media (max-width: 1199px) {
  .frame-1-bg {
    top: -81px;
  }
}
@media (max-width: 767px) {
  .frame-1-bg {
    background-size: 161%;
  }
}
@media (max-width: 576px) {
  .frame-1-bg {
    background-size: cover;
    background-position: 60% 50%;
  }
}
@media (max-width: 376px) {
  .frame-1-bg {
    top: -55px;
  }
}
.sc-main-top {
  padding-top: 57px;
  align-self: flex-start;
}
.sc-main-top .main__info {
  max-width: 654px;
}
.sc-main-top .main__info .primary-btn {
  margin-top: 12px;
}

@media (max-width: 1199px) {
  .sc-main-top {
    padding-top: 48px;
  }
  .sc-main-top .main__info p {
    max-width: 290px;
  }
  .sc-main-top .main__info .primary-btn {
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .sc-main-top {
    padding-top: 32px;
  }
  .sc-main-top .main__info {
    min-height: 303px;
  }
}
@media (max-width: 376px) {
  .sc-main-top {
    padding-top: 20px;
  }
  .sc-main-top .main__info {
    min-height: auto;
  }
}
.sc-main-bottom {
  width: 100%;
  align-self: flex-end;
  padding-top: 60px;
  padding-bottom: 60px;
}
.sc-main-bottom .swiper__item {
  padding-top: 33px;
}
.sc-main-bottom .swiperServices {
  width: 100%;
  max-width: 942px;
  margin-left: 0;
  cursor: grab;
}
.sc-main-bottom .swiperServices .swiper-pagination {
  position: relative;
  height: 1px;
  text-align: left;
  display: flex;
  top: 0;
  bottom: 0;
  margin-bottom: 24px;
  background-color: rgb(228, 229, 229);
}
.sc-main-bottom .swiperServices .swiper-pagination.swiper-pagination-lock {
  display: none;
}
.sc-main-bottom .swiperServices .swiper-pagination-bullet {
  height: 1px;
  border-radius: 0px;
  background: none;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  transition: 0.3s ease;
}
.sc-main-bottom .swiperServices .swiper-pagination-bullet-active {
  background-color: var(--black);
}
.sc-main-bottom .service__info-item {
  max-width: 314px;
  padding-right: 24px;
  display: inline-block;
  width: 100%;
}
.sc-main-bottom .service__info-item h4 {
  margin-bottom: 8px;
  font-size: 18px;
  color: var(--black);
}
.sc-main-bottom .service__info-item p {
  margin-bottom: 0;
}
.sc-main-bottom .contact__item-comp {
  margin-left: auto;
}

@media (max-width: 1199px) {
  .sc-main-bottom .contact__item-comp {
    margin-left: 0;
  }
}
@media (max-width: 992px) {
  .sc-main-bottom .service__info-item {
    max-width: 100%;
  }
  .sc-main-bottom .swiper__item {
    padding-top: 18px;
  }
}
@media (max-width: 767px) {
  .sc-main-bottom {
    padding-bottom: 40px;
  }
  .sc-main-bottom .swiperServices {
    width: calc(100% + 64px);
    margin-left: -32px;
    padding-left: 32px;
  }
  .sc-main-bottom .swiperServices .swiper-pagination {
    width: calc(100% - 32px);
  }
  .sc-main-bottom .swiperServices .swiper-slide {
    max-width: 327px;
  }
  .sc-main-bottom .swiperServices .swiper-slide:last-of-type {
    max-width: 100%;
  }
  .sc-main-bottom .swiper__item {
    padding-top: 33px;
  }
}
@media (max-width: 576px) {
  .sc-main-bottom .swiperServices {
    width: calc(100% + 40px);
    margin-left: -20px;
    padding-left: 20px;
  }
  .sc-main-bottom .swiperServices .swiper-pagination {
    width: calc(100% - 20px);
  }
  .sc-main-bottom .swiperServices .swiper-slide {
    max-width: 327px;
  }
  .sc-main-bottom .service__info-item {
    max-width: 327px;
  }
}
.sc-possibilities .swiper-pagination-tab-wrapper {
  display: flex;
  position: relative;
  border-top: solid 1px rgb(228, 229, 229);
  overflow: auto;
}
.sc-possibilities .swiper-pagination-tab {
  display: inline-block;
  margin-right: 25px;
  cursor: pointer;
  color: var(--black);
  line-height: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  z-index: 1;
}
.sc-possibilities .swiper-pagination-tab:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--black);
  transition: 0.3s ease-in-out;
  z-index: 1;
}
.sc-possibilities .swiper-pagination-tab.active {
  font-weight: 400;
}
.sc-possibilities .swiper-pagination-tab.active:before {
  width: 100%;
}
.sc-possibilities .swiperGraphics .swiper-slide {
  height: auto;
  cursor: grab;
  padding-top: 63px;
  padding-bottom: 60px;
}
.sc-possibilities .custom__info-wrap {
  max-width: 440px;
}
.sc-possibilities .graphic__container {
  display: inline-block;
  width: 100%;
  padding-right: 25px;
  position: relative;
}
.sc-possibilities .graphic__container:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  max-width: 534px;
  width: 100%;
  height: calc(100% - 27px);
  display: inline-block;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(16, 15, 13, 0.09);
  box-shadow: -24px 24px 48px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  z-index: -1;
}
.sc-possibilities .graphic__bar-details {
  margin-left: auto;
  width: -moz-fit-content;
  width: fit-content;
  background: #FFFFFF;
  border: 1px solid rgba(16, 15, 13, 0.09);
  box-shadow: -24px 24px 48px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  min-width: 127px;
  padding: 16px 16px;
  margin-bottom: 32px;
  margin-top: -36px;
}
.sc-possibilities .graphic__bar-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.sc-possibilities .graphic__bar-item:last-of-type {
  margin-bottom: 0;
}
.sc-possibilities .graphic__bar-item span {
  width: 19px;
  height: 19px;
  display: inline-block;
  margin-right: 8px;
  border-radius: 1px;
}
.sc-possibilities .graphic__map {
  max-width: 543px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: 51px;
  background: #FFFFFF;
  border: 1px solid rgba(16, 15, 13, 0.09);
  box-shadow: -24px 24px 48px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin-bottom: 35px;
}
.sc-possibilities .graphic__img {
  padding: 50px 50px;
}
.sc-possibilities .graphic__img img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.sc-possibilities .graphic__map-btns {
  list-style: none;
  padding-left: 0;
  margin-left: auto;
  margin-right: 32px;
  margin-bottom: 0;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: wrap;
  background: #FFFFFF;
  border: 1px solid rgba(16, 15, 13, 0.09);
  box-shadow: -24px 24px 48px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 7px 6px;
  font-size: 14px;
}
.sc-possibilities .graphic__map-btns a {
  padding: 11px 32px;
  border-radius: 2px;
  display: inline-block;
  color: var(--black);
}
.sc-possibilities .graphic__map-btns a.active {
  background: #DEDFDF;
  font-weight: 400;
}
.sc-possibilities .graphic__map-btns a:hover:not(.active) {
  background: rgba(222, 223, 223, 0.367);
}

@media (max-width: 1200px) {
  .sc-possibilities .swiperGraphics .swiper-slide {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .sc-possibilities .graphic__container:before {
    max-width: 81%;
  }
  .sc-possibilities .graphic__map-btns {
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  .sc-possibilities .swiper-pagination-tab-wrapper {
    width: calc(100% + 64px);
    margin-left: -32px;
    padding-left: 32px;
    border-top: none;
    /* For Firefox */
  }
  .sc-possibilities .swiper-pagination-tab-wrapper::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
  }
  .sc-possibilities .swiper-pagination-tab-wrapper {
    scrollbar-width: none; /* Hides the scrollbar */
  }
  .sc-possibilities .graphic__map-btns {
    font-size: 12px;
  }
  .sc-possibilities .graphic__map-btns a {
    padding: 11px 13px;
  }
}
@media (max-width: 767px) {
  .sc-possibilities {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .sc-possibilities .graphic__container {
    padding-right: 47px;
    padding-left: 34px;
    margin-bottom: 34px;
  }
  .sc-possibilities .graphic__container:before {
    right: 11px;
    width: calc(100% - 85px);
  }
  .sc-possibilities .graphic__bar-details {
    margin-right: -20px;
  }
  .sc-possibilities .graphic__map-btns {
    margin-right: -20px;
  }
  .sc-possibilities .graphic__map {
    margin-right: 0;
    margin-left: 0;
  }
  .sc-possibilities .graphic__img {
    padding: 24px 24px;
  }
  .sc-possibilities .graphic__bar-details {
    margin-top: -17px;
    font-size: 12px;
    min-width: 60px;
    padding: 7px 7px;
    margin-bottom: 23px;
  }
  .sc-possibilities .graphic__bar-item {
    margin-bottom: 6px;
  }
  .sc-possibilities .graphic__bar-item span {
    width: 9px;
    height: 9px;
    margin-right: 4.5px;
  }
}
@media (max-width: 576px) {
  .sc-possibilities .swiper-pagination-tab-wrapper {
    width: calc(100% + 40px);
    margin-left: -20px;
    padding-left: 20px;
  }
  .sc-possibilities .graphic__container:before {
    height: calc(100% - 13px);
  }
  .sc-possibilities .graphic__map {
    margin-bottom: 16px;
  }
  .sc-possibilities .graphic__map-btns {
    font-size: 9px;
    padding: 3px 3px;
  }
  .sc-possibilities .graphic__map-btns a {
    padding: 5px 10px;
  }
}
.sc-possibilities-2 {
  padding-bottom: 80px;
}
.sc-possibilities-2 .custom__info-wrap {
  max-width: 632px;
  z-index: 1;
  position: relative;
}/*# sourceMappingURL=main.css.map */