/* Jost-Regular */
@font-face {
    font-family: "Jost";
    src: url("../font/Jost-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
/* Jost-Regular */
@font-face {
    font-family: "Jost";
    src: url("../font/Jost-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

:root{
  --bg-color: #F9FAFA;
  --black_light: rgba(16, 15, 13, 0.7);
  --black: #100F0D;
  --blue: #709ED4;
  --red: #EE4F4F;
}

html  {
    font-family: "Jost", sans-serif;
    line-height:  1.15;
    -webkit-text-size-adjust:  100%;
    -webkit-tap-highlight-color:  transparent;
    font-weight: 300;
}

body  {
    margin: 0;
    background-color: var(--bg-color);
    font-size: 16px;
    color: var(--black_light);
}

a{
  text-decoration: none;
  color: var(--black_light);
  transition: all 0.3s ease;
}

.icon-btn-arrow{
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none"><path d="M1 11.5L11 1.5M11 1.5V11.5M11 1.5H1" stroke="white" stroke-width="1.5"/></svg>');
  width: 12px;
  height: 12px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s ease;

}
.icon-btn-arrow.black{
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none"><path d="M0.5 14L13.5 1M13.5 1V14M13.5 1H0.5" stroke="%23100F0D"/></svg>');
  width: 12px;
  height: 12px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s ease;

}

h1{
  font-weight: 300;
  font-size: 56px;
  line-height: 106%;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 28px;
}

.primary-btn{
  display: inline-block;
  text-align: center;
  background-color: var(--blue);
  border-radius: 4px;
  user-select: none;
  padding: 15.3px 34px 15.3px 34px;
  color: #fff;
  .icon{
    margin-left: 12px;
  }
  &:hover{
    .icon{
      transform: rotate(45deg);
    }
  }
}

.contact__item-comp{
  font-weight: 400;
  font-size: 20px;
  max-width: 185px;
  margin-left: auto;
  .contact__list{
    padding-left: 0;
    list-style: none;
  }
  .contact__list-item{
    width: 100%;
    transition: 0.3s ease;
    position: relative;
    &.hover-arrow{
      border-bottom: solid 1px transparent;
      padding-right: 20px;
      &:hover{
        border-color: var(--black);
        .icon{
          opacity: 1;
        }
      }
    }
    a{
      padding-top: 12.5px;
      padding-bottom: 11.5px;
      width: 100%;
      display: inline-block;
      &:hover{
        color: var(--black);
      }
    }
    .icon{
      margin-left: auto;
      opacity: 0;
      position: absolute;
      bottom: 17px;
      right: 0;
      transition: 0.3s ease;
    }
  }
}

@media (min-width: 1440px) {
  ._content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 100px);
  }
}
.header{
  width: 100%;
  .logo{
    max-width: 148px;
    margin-left: -11px;
    img{
      max-width: 100%;
    }
  }
  .header__wrap{
    border-bottom: solid 1px rgba(228, 229, 229, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
  }
  .nav__list{
    list-style: none;
    display: flex;
    height: 99px;
    margin-left: auto;
    padding-left: 0;
    margin-bottom: 0;
    height: var(--var-height);
    li{
      margin-left: 16.5px;
      height: 100%;
      height: 99px;
      transition: all 0.3s ease;
      &:hover{
        background-color: #FFFFFF;
      }
    }
    a{
      padding: 16.5px 16.5px;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  .nav__item{
    &.active{
      background-color: #FFFFFF;
      pointer-events: none;
      font-weight: 400;
      a{
        color: var(--black);
      }
    }
  }
}

// СТИЛИ ГЛАВНОЙ СТРАНИЦЫ
.sc-main {
  padding-top: 57px;
  align-self: flex-start;
  .main__info{
    max-width: 794px;
    .primary-btn{
      margin-top: 12px;
    }
  }
}
.footer-main{
  width: 100%;
  align-self: flex-end;
  padding-top: 60px;
  padding-bottom: 60px;
  .swiper__item{
    padding-top: 33px;
  }
  .swiperServices{
    width: 100%;
    max-width: 942px;
    margin-left: 0;
    cursor: grab;
    .swiper-pagination{
      position: relative;
      height: 2px;
      text-align: left;
      display: flex;
      top: 0;
      bottom: 0;
      margin-bottom: 24px;
      background-color: rgba(228, 229, 229, 1);
      &.swiper-pagination-lock{
        display: none;
      }
    }
    .swiper-pagination-bullet{
      height: 2px;
      border-radius: 0px;
      background: none;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      transition: 0.3s ease;
    }
    .swiper-pagination-bullet-active{
      background-color: var(--black);
    }
  }
  .service__info-item{
    max-width: 314px;
    padding-right: 24px;
    display: inline-block;
    width: 100%;
    h4{
      margin-bottom: 8px;
      font-size: 18px;
      color: var(--black);
    }
  }
}
