/* Jost-Regular */
@font-face {
  font-family: "Jost";
  src: url("../font/Jost-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Jost-Regular */
@font-face {
  font-family: "Jost";
  src: url("../font/Jost-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
:root {
  --bg-color: #F9FAFA;
  --black_light: rgba(16, 15, 13, 0.7);
  --black: #100F0D;
  --blue: #709ED4;
  --red: #EE4F4F;
}

html {
  font-family: "Jost", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-weight: 300;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-size: 16px;
  color: var(--black_light);
}

#wrapper {
  position: relative;
}

@media (min-width: 576px) {
  #wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
}
a {
  text-decoration: none;
  color: var(--black_light);
  transition: all 0.3s ease;
}

.icon-btn-arrow {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none"><path d="M1 11.5L11 1.5M11 1.5V11.5M11 1.5H1" stroke="white" stroke-width="1.5"/></svg>');
  width: 12px;
  height: 12px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s ease;
}

.icon-btn-arrow.black {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none"><path d="M0.5 14L13.5 1M13.5 1V14M13.5 1H0.5" stroke="%23100F0D"/></svg>');
  width: 12px;
  height: 12px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s ease;
}

h1 {
  font-weight: 300;
  font-size: 24px;
  line-height: 118%;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 20px;
}

@media (min-width: 376px) {
  h1 {
    font-size: 32px;
    line-height: 113%;
  }
}
@media (min-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 113%;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 56px;
    line-height: 106%;
    margin-bottom: 28px;
  }
}
.primary-btn {
  display: inline-block;
  text-align: center;
  background-color: var(--blue);
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 15.3px 34px 15.3px 34px;
  color: #fff;
}
.primary-btn .icon {
  margin-left: 12px;
}
.primary-btn:hover .icon {
  transform: rotate(45deg);
}

.contact__item-comp {
  font-weight: 400;
  font-size: 20px;
  max-width: 185px;
}
.contact__item-comp .contact__list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.contact__item-comp .contact__list-item {
  width: 100%;
  transition: 0.3s ease;
  position: relative;
}
.contact__item-comp .contact__list-item.hover-arrow {
  border-bottom: solid 1px transparent;
  padding-right: 20px;
}
.contact__item-comp .contact__list-item.hover-arrow:hover {
  border-color: var(--black);
}
.contact__item-comp .contact__list-item.hover-arrow:hover .icon {
  opacity: 1;
}
.contact__item-comp .contact__list-item a {
  padding-top: 12.5px;
  padding-bottom: 11.5px;
  width: 100%;
  display: inline-block;
}
.contact__item-comp .contact__list-item a:hover {
  color: var(--black);
}
.contact__item-comp .contact__list-item .icon {
  margin-left: auto;
  opacity: 0;
  position: absolute;
  bottom: 17px;
  right: 0;
  transition: 0.3s ease;
}

._content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 81px);
}

@media (min-width: 1200px) {
  ._content {
    min-height: calc(100vh - 100px);
  }
}
.header {
  width: 100%;
  position: relative;
  z-index: 999;
}
.header .logo {
  max-width: 148px;
  margin-left: -11px;
  position: relative;
  z-index: 10;
}
.header .logo img {
  max-width: 100%;
}
.header .header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 81px;
}
.header .nav__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  height: var(--var-height);
}
.header .nav__list li {
  transition: all 0.3s ease;
}
.header .nav__list li:hover {
  background-color: #FFFFFF;
}
.header .nav__list a {
  padding: 16.5px 16.5px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header .nav__item.active {
  pointer-events: none;
  font-weight: 400;
}
.header .nav__item.active a {
  color: var(--black);
}
.header .burger {
  width: 48px;
  height: 48px;
  background: #F1F2F2;
  border: 1px solid #DDDEDD;
  border-radius: 2px;
  z-index: 10;
  position: relative;
  display: none;
}
.header .burger > * {
  pointer-events: none;
}
.header .burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 1px;
  right: 0;
  margin: auto;
}
.header .burger span::before, .header .burger span::after {
  display: block;
  width: 16px;
  height: 1px;
  border-radius: 5px;
  background-color: var(--black);
  outline: 1px solid transparent;
  transition-property: background-color, transform;
  transition-duration: 0.3s;
}
.header .burger span::before, .header .burger span::after {
  position: absolute;
  content: "";
}
.header .burger span::before {
  top: -3px;
}
.header .burger span::after {
  top: 3px;
}
.header .burger.clicked span {
  background-color: transparent;
}
.header .burger.clicked span::before {
  transform: translateY(3px) rotate(45deg);
}
.header .burger.clicked span::after {
  transform: translateY(-3px) rotate(-45deg);
}
.header .burger:hover {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .header__wrap {
    height: 100px;
    border-bottom: solid 1px rgb(228, 229, 229);
  }
  .nav__list {
    margin-left: auto;
    display: flex;
  }
  .nav__list li {
    height: 99px;
    margin-left: 16.5px;
  }
  .nav__item.active {
    background-color: #FFFFFF;
  }
}
@media (max-width: 1199px) {
  .header .burger {
    display: inline-block;
  }
  .header .nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.555);
    opacity: 0;
    visibility: hidden;
  }
  .header .nav__list {
    max-width: 956px;
    margin-left: auto;
    margin-right: auto;
  }
  .header .nav {
    background-color: var(--bg-color);
    background-image: url(../img/mobile-nav-nets.svg);
    background-position: 50% right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 158px 32px 60px 42px;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .header .nav.show {
    transform: translateX(0px);
  }
}
.main-page-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .main-page-bg {
    background-size: 161%;
  }
}
@media (max-width: 576px) {
  .main-page-bg {
    background-size: cover;
    background-position: 60% 50%;
  }
}
@media (max-width: 376px) {
  .main-page-bg {
    display: none;
  }
}
.sc-main {
  padding-top: 57px;
  align-self: flex-start;
}
.sc-main .main__info {
  max-width: 794px;
}
.sc-main .main__info .primary-btn {
  margin-top: 12px;
}

@media (max-width: 1200px) {
  .sc-main {
    padding-top: 48px;
  }
  .sc-main .main__info p {
    max-width: 290px;
  }
  .sc-main .main__info .primary-btn {
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .sc-main {
    padding-top: 32px;
  }
}
@media (max-width: 376px) {
  .sc-main {
    padding-top: 20px;
  }
}
.sc-footer-main {
  width: 100%;
  align-self: flex-end;
  padding-top: 60px;
  padding-bottom: 60px;
}
.sc-footer-main .swiper__item {
  padding-top: 33px;
}
.sc-footer-main .swiperServices {
  width: 100%;
  max-width: 942px;
  margin-left: 0;
  cursor: grab;
}
.sc-footer-main .swiperServices .swiper-pagination {
  position: relative;
  height: 2px;
  text-align: left;
  display: flex;
  top: 0;
  bottom: 0;
  margin-bottom: 24px;
  background-color: rgb(228, 229, 229);
}
.sc-footer-main .swiperServices .swiper-pagination.swiper-pagination-lock {
  display: none;
}
.sc-footer-main .swiperServices .swiper-pagination-bullet {
  height: 2px;
  border-radius: 0px;
  background: none;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  transition: 0.3s ease;
}
.sc-footer-main .swiperServices .swiper-pagination-bullet-active {
  background-color: var(--black);
}
.sc-footer-main .service__info-item {
  max-width: 314px;
  padding-right: 24px;
  display: inline-block;
  width: 100%;
}
.sc-footer-main .service__info-item h4 {
  margin-bottom: 8px;
  font-size: 18px;
  color: var(--black);
}
.sc-footer-main .contact__item-comp {
  margin-left: auto;
}

@media (max-width: 1200px) {
  .sc-footer-main {
    padding-bottom: 12px;
  }
  .sc-footer-main .contact__item-comp {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .sc-footer-main .swiperServices {
    width: calc(100% + 64px);
    margin-left: -32px;
    padding-left: 32px;
  }
  .sc-footer-main .swiperServices .swiper-pagination {
    width: calc(100% - 32px);
  }
  .sc-footer-main .swiperServices .swiper-slide {
    max-width: 327px;
  }
  .sc-footer-main .swiperServices .swiper-slide:last-of-type {
    max-width: 100%;
  }
  .sc-footer-main .service__info-item {
    max-width: 327px;
  }
}
@media (max-width: 576px) {
  .sc-footer-main .swiperServices {
    width: calc(100% + 40px);
    margin-left: -20px;
    padding-left: 20px;
  }
  .sc-footer-main .swiperServices .swiper-pagination {
    width: calc(100% - 20px);
  }
  .sc-footer-main .swiperServices .swiper-slide {
    max-width: 327px;
  }
  .sc-footer-main .service__info-item {
    max-width: 327px;
  }
}/*# sourceMappingURL=main.css.map */